<!doctype html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: 'Status — Axiom Hub\' s', description: 'List of games - Axiom Hub\' s' }) %>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P73HFGSV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%- include('partials/navbar') %>

  <main class="hero-section">
    <div class="hero-container">

      <!-- Working -->
      <h2 class="section-title">Working</h2>
      <p class="code-description">
        A Hero's Destiny
        <br>
        Driving Empire
      </p>

      <!-- Upcoming -->
      <h2 class="section-title">Upcoming</h2>
      <p class="code-description">
        Upgrade Driving Empire
      </p>

      <!-- Outdated -->
      <h2 class="section-title">Outdated</h2>
      <p class="code-description">
        Nothing
      </p>
    </div>
  </main>

  <%- include('partials/footer') %>
  <%- include('partials/cookies_popup') %>

  <script type="module" src="/js/home.js"></script>
</body>

</html>